<h1>Lista de Tarefas</h1>

<!-- <ul>
  <li *ngFor="let todo of todos">
    <span *ngIf="todo.done">Ok</span>
    {{ todo.title }}
    <button (click)="removeTodo(todo)">Remover</button>
    <button (click)="markAsDone(todo)">Concluir</button>
  </li>
</ul>

<form [formGroup]="form">
  <input type="text" formControlName="title">
  <button (click)="addTodo()">Adicionar</button>
</form> -->

<section>
  <ul *ngIf="todoList$ | async; else loading">
    <li *ngFor="let item of todoList$ | async">
      {{ item.title }}
    </li>
  </ul>
  <ng-template #loading>
    <p>Carregando...</p>
  </ng-template>  
</section>