<h1>Lista de Tarefas</h1>

<!-- <ul>
  <li *ngFor="let todo of todos">
    <span *ngIf="todo.done">Ok</span>
    {{ todo.title }}
    <button (click)="removeTodo(todo)">Remover</button>
    <button (click)="markAsDone(todo)">Concluir</button>
  </li>
</ul>

<form [formGroup]="form">
  <input type="text" formControlName="title">
  <button (click)="addTodo()">Adicionar</button>
</form> -->

<section>
  <ul *ngIf="todoList$ | async as items; else loading">
    <li *ngFor="let item of items">
      <span *ngIf="item.done">&#x02713;</span>
      {{ item.title }}
      <button (click)="removeTodo(item.id)">Remover</button>
      <button (click)="markAsDone(item)" *ngIf="!item.done">Concluir</button>
    </li>
  </ul>
  <ng-template #loading>
    <p>Carregando...</p>
  </ng-template>  
</section>

<section>
  <form [formGroup]="form">
    <input type="text" formControlName="title" placeholder="Título">
    <!-- <input type="checkbox" formControlName="done" value="Status">
    <label for="done">Feito?</label> -->
    <button (click)="addTodo()">Adicionar</button>
  </form>
</section>